/* customise navigation bar*/
header .custom-navbar{
    background-color: rgba(42, 50, 59, 0.4) !important;
}

.Name-Title{
    color:#fecea8 !important;
    font-size: 25px;
}

.Name-Title:hover{
    color: rgb(248, 237, 237) !important;
}

.Name-Title img{
    width: 60px;
    height: 40px;
}

.navbar-nav .nav-link{
    color: #fecea8 !important;
    font-size: 18px;
}
/* Hover effect to change link color and show the underline */
.navbar-nav .nav-link:hover {
    color: whitesmoke !important; /* Change to your desired color */
    text-decoration: underline; /* Remove the default underline */

}

/* customise Jumbotron*/
.jumbotron-with-image {
    background-image: url(../Images/hero-image2.jpg); /*Background Image for jumbotron*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: (100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-with-image h1,
.jumbotron-with-image p {
    text-align: right;
    width:80%;
    min-width: 100px;
    max-width: 800px;
    color: #2A363B;
} 

.subtitle{
    justify-content: right !important;
    width: 33% !important;
    height: 190px;
    border-top: solid 3px #e4a16a !important;
    border-left: solid 3px #e4a16a !important;
    padding:0% !important;
    margin:0%;
    position: relative;
    top:155px;
    left:650px;
}

.skills-img{
    width: 100px; /* Adjust to your preferred width */
    height: 100px;
    margin: 0 auto;
}



.project-img {
    height: 200px; /* Adjust to your preferred height */
    object-fit: cover; /* Maintain the image aspect ratio */
}

.projects, .contact-me, .skills, .skill1, .skill2, .skill3, .skill4{
    border: none;
}

.projects1, .projects2, .projects3, .projects4, .projects5{
    border: 3px solid pink;
}

#footer{
    text-align: center;
}

@media (max-width: 1200px){
    .subtitle{
        top:155px;
        left:1100px;
    }

    .jumbotron-with-image h1,
    .jumbotron-with-image p {
        color: whitesmoke !important;
    }
}

@media (max-width: 800px) /*ipad Mini*/{
    .subtitle{
        top:155px;
        left:115px;
        width: 80% !important;
    }
}

@media (max-width: 376px) /*iphone SE*/{
    header .custom-navbar{
        width:100% !important;
        position: relative;
        background-color: rgba(42, 50, 59, 0.3) !important;

    }
    .subtitle{
        top:155px;
        left:75px;
        width: 100px;
    }

    .jumbotron-with-image h1,
    .jumbotron-with-image p {
        height: 60px !important;
        font-size: 20px !important;
        width: 100% !important;
    }

    #ContactMe li{
       font-size: 9px;
    }

}